{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Welcome to Our Website!</h1>
  <p class="lead text-center">This is the home page where you can find engaging content and new insights.</p>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in risus metus. In non massa ac sem aliquet scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus sed tincidunt libero, quis ornare quam. Praesent condimentum, sapien in auctor luctus, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
      <p>Nunc viverra, magna vitae egestas rutrum, quam sapien vestibulum quam, eget sollicitudin quam sapien at quam. Etiam augue ante, facilisis et congue sit amet, tempus fermentum enim. Nullam vitae magna non nisi gravida condimentum. Vivamus ante augue, commodo vel egestas sed, pharetra vitae dui. Pellentesque laoreet, nisl nec iaculis ultrices, quam mi dignissim risus, sed vehicula urna eros gravida tellus.</p>
    </div>
  </div>
</div>
{% endblock %}
